*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    font-size: 1rem;
    margin: 4%;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    background-color: #EEFF7B;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: #FD00C7;
}

p {
    font-family: 'Dancing Script', cursive;
}

select {
    text-transform: capitalize;
}